<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>EcoRide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/hero.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>

<div id="header"></div>
<main>
    <div id="hero"></div>

    <section class="steps-section">
    <h2>Comment ça marche</h2>

    <div class="steps-grid">
        <article class="step-card">
            <span class="material-symbols-outlined">search</span>
            <h3>Rechercher</h3>
            <p>Trouvez un trajet rapidement selon vos besoins.</p>
        </article>

        <article class="step-card">
            <span class="material-symbols-outlined">event_available</span>
            <h3>Réserver</h3>
            <p>Confirmez votre place en quelques clics.</p>
        </article>

        <article class="step-card">
            <span class="material-symbols-outlined">group</span>
            <h3>Voyager</h3>
            <p>Partagez un trajet plus écologique.</p>
        </article>
    </div>
</section>



</main>
<div id="footer"></div>

<script src="assets/js/script.js"></script>
</body>
</html>
