@use '../utils' as u;

// =====================
// Boutons
// =====================

.eco-btn {
  font-family: u.$font-main;
  padding: 0.5rem 1rem;
  border-radius: u.$radius-sm;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;

  &:hover {
    transform: translateY(-1px);
    background-color: u.$green-dark;
  }

  &--primary {
    background-color: u.$green-main;
    color: u.$white;
  }

  &--secondary {
    background-color: u.$beige-main;
    color: u.$white;
  }

  &--full {
    width: 100%;
  }
}
.btn--disabled {
  background-color: u.$grey-light;
  color: u.$grey-dark;
  cursor: not-allowed;
  opacity: 0.6;

  &:hover {
    transform: none;
  }
}