@use '../utils' as u;

.card {
  background-color: u.$white;
  border-radius: u.$radius-md;
  box-shadow: u.$shadow-soft;

  h3 {
    color: u.$green-dark;
  }
}

.covoiturage-card {
  overflow: hidden;
}
