@use '../utils' as u;

form {
  font-family: u.$font-main;
  font-size: 1rem;
  color: u.$black;

  input,
  select,
  textarea {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: u.$space-sm;
    border: 1px solid u.$grey-medium;
    border-radius: u.$radius-sm;
    background-color: u.$white;
  }

  label {
    font-weight: 500;
    margin-bottom: 0.25rem;
    display: block;
  }
}
