@use '../utils' as u;

.profile-card {
  background-color: u.$white;
  padding: u.$space-md;
  border-radius: u.$radius-md;
  box-shadow: u.$shadow-soft;

  h1 {
    margin-bottom: u.$space-sm;
  }

  .btn {
    margin-top: u.$space-sm;
  }
}

.homepage-section {
  display: flex;
  flex-direction: column;
  gap: u.$space-lg;
  padding: u.$space-xl u.$space-md;
  border-radius: u.$radius-lg;
  box-shadow: u.$shadow-soft;
}

.homepage-section h1 {
  text-align: center;
  font-size: 2rem;
}
